---
title: Muir Glen Organic Tomatoes | Fire Roasted, Diced, Whole, Sauce, Soup, Paste, Ketchup, Salsa
---

%header
  %a.logo(href='/')
    %img(alt='Muir Glen Organic' height='#{138/2}' width='#{282/2}' src='images/logo.png')

  %nav
    %a.home(href='#home') home
    %a.vine(href='#vine') the tomato vine
    %a.about(href='#about') about
    %a.products(href='#products') products
    %a.recipes(href='#recipes') recipes
    %a.connect(href='#connect') connect

    .social
      %a.facebook(href='#facebook')
        %span facebook
        %i
      %a.twitter(href='#twitter')
        %span twitter
        %i
      %a.pinterest(href='#pinterest')
        %span pinterest
        %i
      %a.instagram(href='#instagram')
        %span instagram
        %i

  %button#hamburger ≡

%section#section-1
  %video(height='720' width='1280' poster='images/placeholder.jpg' preload='auto' autoplay)
    %source(src='videos/salsa-trim2.mp4' type='video/mp4')
    %source(src='videos/salsa-trim2.webm' type='video/webm')
    %a(href='videos/salsa-trim2.mp4')
      %img(src='images/placeholder.jpg' alt='Play Video')
  .video-controls
    %button#play ►
    %button#pause ‖

%section#section-2
  %img.center-x(alt='__' src='images/text_apple.png' width='#{816/2}' height='#{342/2}')

%section#section-3
  %img.full-width(alt='__' src='images/full_garden.jpg')

%section#section-5
  %img.center-x(alt='__' src='images/non_gmo.png' width='#{947/2}' height='#{222/2}' )

%section#section-6
  %img.full(alt='__' src='images/full_contest.jpg')

%section#section-7
  %img.center-x(alt='__' src='images/newsletter.png' width='#{432/2}' height='#{158/2}')

%section#section-8
  %img.full(alt='__' src='images/full_award.jpg')

%section#section-9
  %img.full(alt='__' src='images/full_instagram.jpg')

%footer
  %img.center-x(alt='' src='images/footer.png' width="#{1006/2}" height="#{414/2}")















